* {
  font-family: "Share Tech Mono", monospace;
  background-color: lightslategray;
}

body {
  text-align: center;
}

h1 {
  text-align: center;
  color: aqua;
  background-color: rgb(126, 96, 126);
}

header {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border: solid white 10px;
  padding: 5px;
}

timer h3 {
  text-align: center;
}

container h2 {
  padding: 5px;
  border-top: solid cyan 5px;
  padding-top: 15px;
}

container ul {
  border-bottom: solid cyan 5px;
  padding: 15px;
}

#button {
  margin-top: 20px;
  font-size: larger;
}
