* {
  font-family: "Share Tech Mono", monospace;
  background-color: lightslategray;
}

body {
  text-align: center;
}

header {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border: solid white 5px;
}

header h1 {
  text-align: center;
  border: 2.5px solid cyan;
  background-color: rgb(126, 96, 126);
}

p {
  font-size: 1.5em;
  color: orange;
}

a {
  color: aqua;
  font-size: 1.5em;
  font-weight: 900;
}

div a {
  color: aqua;
  font-size: 1.25em;
  text-decoration: none;
  font-weight: 900;
}

ol {
  list-style: none;
}

button {
  margin-top: 20px;
  font-size: 1em;
  padding: 10px;
  background-color: rgb(126, 96, 126);
  font-weight: bolder;
  border: 2.5px solid cyan;
}

timer h3 {
  color: aliceblue;
  text-align: center;
  font-weight: 600;
}

container h2 {
  padding: 5px;
  border-top: solid cyan 5px;
  padding-top: 15px;
}

container ul {
  border-bottom: solid cyan 5px;
  padding-bottom: 40px;
}

#startButton {
  margin-top: 20px;
  font-size: 1.75em;
  padding: 10px;
  background-color: rgb(126, 96, 126);
  font-weight: bolder;
  border: 2.5px solid cyan;
}
